* {
    margin: 0;
}

body 
{
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('resources/uaa.jpg');
    backdrop-filter: blur(3px);
    background-size: cover;
    background-repeat: no-repeat;
}

.options {
    border-radius: 4px;
    background-color: #ffffffc0;
    padding: 2rem 4rem;
    width: max-content;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem 2rem;
}

a {
    display: inline-block;
    height: max-content;
    color: initial;
    text-decoration: none;
    border-bottom: 2px solid red;
}

a:visited {
    color: initial;
}

a:hover {
    border-bottom-color: blue;
}